
/* ============================= */
/* Menu de navegacion - header */
/* ============================= */

.navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.navbar-brand img {
    object-fit: contain;
}

.navbar-brand {
    color: var(--alivio-primary);
    font-size: 1.5rem;
    letter-spacing: 0.5px;

}

.brand-title {
    color: #156159;
    font-size: 1.35rem;
    line-height: 1.1;
    letter-spacing: 0.5px;
}

.brand-subtitle {
    color: #667777;
    font-size: 0.89rem;
    font-weight: 500;
    letter-spacing: 0.3px;
    line-height: 1.2;
}

/* Espaciar los enlaces del menú para que no se vean amontonados */
.navbar-nav .nav-item {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.nav-link {
    color: #334444;
    font-weight: 500;
    transition: color 0.2s ease-in-out;
}

.nav-link:hover {
    color: var(--alivio-primary);
}

/* Botones */
.btn-alivio {
    background-color: #156159;
    color: #ffffff;
    font-weight: 600;
    font-size: 0.95rem;
    padding: 12px 30px;
    border-radius: 50px;
    border: 2px solid #156159; /* Mantenemos el borde de 2px para que midan exactamente lo mismo */
    transition: all 0.3s ease;
}

.btn-alivio:hover {
    background-color: #4b8a85;
    color: #ffffff;
}

.btn-outline-alivio {
    background-color: transparent;
    color: #156159;
    border: 2px solid #156159;
    font-weight: 600;
    font-size: 0.95rem;
    padding: 12px 30px;
    border-radius: 50px;
    transition: all 0.3s ease;
}

.btn-outline-alivio:hover {
    background-color: #217068;
    color: #ffffff;
}

.navbar .btn-alivio {
    padding: 8px 20px;
    font-size: 0.94rem;
    font-weight: 500;
}