

/* ============================= */
/* nosotros*/
/* ============================= */
.min-vh-imagen {
    min-height: 100%;
}

.tarjeta-caracteristica {
    border-radius: 20px;
    background-color: #ffffff;
    transition: transform 0.35s ease, box-shadow 0.35s ease;
}

.tarjeta-caracteristica:hover {
    transform: translateY(-6px);
    box-shadow: 0 16px 32px rgba(21, 97, 89, 0.171);
}

.icono-circulo {
    width: 60px;
    height: 60px;
    background-color: rgba(21, 97, 89, 0.08);
    color: #156159;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.text-muted{
    line-height: 1.5;
    font-size: 0.94rem;
}

.tarjeta-caracteristica:hover .icono-circulo {
    background-color: #156159;
    color: #ffffff;
    transform: scale(1.05);
}

.bg-vision {
    background: linear-gradient(135deg, #156159 0%, #0c4e48 100%);
}


.collage-contenedor {
    min-height: 260px;
}

.img-principal {
    height: 250px;
    width: 85%;
    border: 3px solid rgba(255, 255, 255, 0.15);
}

.img-secundaria {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 55%;
    height: 170px;
    border: 2px solid #f1eded;
    transition: transform 0.3s ease;
}

.img-secundaria:hover {
    transform: scale(1.03);
}

.bg-light-soft {
    background-color: #f8f9fa;
}

.accordion .accordion-button:not(.collapsed) {
    background-color: rgba(21, 97, 89, 0.08);
    color: #156159;
    box-shadow: none;
}

.accordion .accordion-button:focus {
    border-color: rgba(21, 97, 89, 0.25);
    box-shadow: 0 0 0 0.25rem rgba(21, 97, 89, 0.12);
}


