

.row-productos {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.row-productos .card .card-img-top {
    height: 200px;            
    width: 100%;
    object-fit: contain;       
    object-position: center;   
    background-color: #fcfcfc; 
    padding: 12px;            
}

/* Títulos de los productos */
.row-productos .card .card-title {
    font-size: 1rem;
    font-weight: 700;
    color: #2b303a;
    margin-bottom: 0.5rem;
    line-height: 1.3;
}

/* Descripción del producto */
.row-productos .card .card-text {
    font-size: 0.97rem;
    color: #6c757d;
    line-height: 1.4;
    margin-bottom: 0.8rem;
}

/* Precio  */
.row-productos .card small {
    display: block;
    font-size: 0.94rem;
    font-weight: 700;
    color: #13756c; /* Color principal  */
}

.row-productos .card .btn {
    font-size: 0.85rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-radius: 6px;
}